@import 'src/styles/mixins';
@import 'src/styles/variables';

:host {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.detailMeta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-2);
    flex: 1;

    @media only screen and (max-width: $breakpoint) {
        display: flex;
        flex-direction: column;
    }
}

.detailMeta-preview,
.detailMeta-titleInput,
.detailMeta-tagInput {
    grid-column: 1 / 3;
}

.detailMeta-metaInfo {
    flex: 1;
    user-select: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-2);

    > * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media only screen and (max-width: $breakpoint) {
        display: flex;
        flex-direction: column;
    }
}

.detailMeta-metaInfo-prompt{
    cursor: pointer;
}

.detailMeta-prompts {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-2);

    @media only screen and (max-width: $breakpoint) {
        flex-direction: column;
    }
}

.detailMeta-prompts-prompt,
.detailMeta-prompts-negativePrompt {
    display: flex;
    gap: var(--spacing-2);
}

.detailMeta-deleteDialog-cancelBtn,
.detailMeta-deleteDialog-deleteBtn,
.detailMeta-deleteBtn {
    @include button()
}

.detailMeta-deleteDialog-cancelBtn {
    background-color: var(--gray-2);
}

.detailMeta-deleteDialog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-2);
    justify-content: center;
}

.detailMeta-deleteDialog-message {
    flex-basis: 100%;
    text-align: center;
}