<form class="detailMeta-form" [formGroup]="updateForm">
  <input
    type="text"
    placeholder="Bezeichnung"
    class="detailMeta-titleInput"
    formControlName="name"
  />
</form>

<section class="detailMeta-metaInfo" *ngIf="image.model">
  <!-- Resolution -->
  <span class="detailMeta-metaInfo-resolution">
    <fa-icon
      [icon]="resolutionIcon"
      class="detailMeta-metaInfo-resolution-icon"
    ></fa-icon>
    {{ image.width }} x {{ image.height }}
  </span>

  <!-- Model -->
  <span class="detailMeta-metaInfo-model">
    <fa-icon
      [icon]="modelIcon"
      class="detailMeta-metaInfo-model-icon"
    ></fa-icon>
    {{ image.model }}
  </span>

  <!-- CFG -->
  <span class="detailMeta-metaInfo-cfg">
    <fa-icon [icon]="cfgIcon" class="detailMeta-metaInfo-cfg-icon"></fa-icon>
    {{ image.cfg }}
  </span>

  <!-- Seed -->
  <span class="detailMeta-metaInfo-seed">
    <fa-icon [icon]="seedIcon" class="detailMeta-metaInfo-seed-icon"></fa-icon>
    {{ image.seed }}
  </span>

  <!-- Steps -->
  <span class="detailMeta-metaInfo-steps">
    <fa-icon
      [icon]="stepsIcon"
      class="detailMeta-metaInfo-steps-icon"
    ></fa-icon>
    {{ image.steps }}
  </span>

  <!-- Sampler -->
  <span class="detailMeta-metaInfo-sampler">
    <fa-icon
      [icon]="samplerIcon"
      class="detailMeta-metaInfo-sampler-icon"
    ></fa-icon>
    {{ image.sampler }}
  </span>
</section>

<section class="detailMeta-prompts" *ngIf="image.positivePrompt">
  <!-- Prompt -->
  <span
    class="detailMeta-prompts-prompt"
    [attr.title]="image.positivePrompt"
    (dblclick)="onCopy(image.positivePrompt)"
  >
    <fa-icon
      [icon]="promptIcon"
      class="detailMeta-prompts-model-icon"
    ></fa-icon>
    {{ image.positivePrompt }}
  </span>

  <!-- Negative Prompt -->
  <span
    class="detailMeta-prompts-negativePrompt"
    [attr.title]="image.negativePrompt"
    (dblclick)="onCopy(image.negativePrompt)"
  >
    <fa-icon
      [icon]="negativePromptIcon"
      class="detailMeta-prompts-negativePrompt-icon"
    ></fa-icon>
    {{ image.negativePrompt }}
  </span>
</section>

<div
  class="detailMeta-deleteDialog"
  *ngIf="isDeleteDisplayed; else deleteBtn"
  @fadeIn
>
  <span class="detailMeta-deleteDialog-message">
    Wollen sie dieses Bild wirklich löschen?
  </span>
  <button class="detailMeta-deleteDialog-cancelBtn" (click)="onToggleDelete()">
    Abbrechen
  </button>
  <button class="detailMeta-deleteDialog-deleteBtn" (click)="onDelete()">
    Löschen
  </button>
</div>

<ng-template #deleteBtn>
  <button class="detailMeta-deleteBtn" (click)="onToggleDelete()" @fadeIn>
    <fa-icon [icon]="deleteIcon" class="detailMeta-deleteBtn-icon"></fa-icon>
    Löschen
  </button>
</ng-template>
