@import 'src/styles/variables';

:host {
    padding: var(--spacing-2);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    overflow: hidden;
    align-items: center;

    @media only screen and (max-width: 1300px) {
        flex-direction: column;
        overflow: auto;
    }
}

.detail-image {
    max-height: 100%;
    max-width: 50vw;

    @media only screen and (max-width: 1300px) {
        max-width: 100%;
        max-height: unset;
    }
}

.detail-name {
    margin: 0;
}

.detail-tags {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--spacing-1);
}

.detail-tags-item {
    background-color: var(--gray-2);
    padding: var(--spacing-1) var(--spacing-2);
    border-radius: var(--spacing-3);
    transition: all 0.3s ease;
    line-height: 1.2rem;
    user-select: none;
}

.detail-meta {
    flex: 1;
}