<input
  type="text"
  placeholder="Suche..."
  class="filter-search"
  [(ngModel)]="currentValue.searchText"
  (ngModelChange)="onChange()"
  (keyup.esc)="onResetText()"
/>

<button class="filter-sorting" (click)="onChangeSorting()">
  {{ sortLabel }}
  <fa-icon [icon]="sortingIcon" class="navbar-btn-icon"></fa-icon>
</button>

<ng-content></ng-content>

<section class="filter-tags">
  <button
    class="filter-tags-showAll"
    (click)="onShowAllTags()"
    title="Zeige Alle Tags"
  >
    <fa-icon [icon]="allTagsIcon" class="filter-tags-showAll-icon"></fa-icon>
  </button>

  <article
    *ngFor="let tag of tags"
    class="filter-tags-item"
    [class.filter-tags-item--active]="activeTags[tag]"
    (click)="onToggleTag(tag)"
  >
    <button
      class="filter-tags-item-fav"
      [class.filter-tags-item-fav--active]="favoriteTags[tag]"
    >
      <fa-icon
        [icon]="favIcon"
        (click)="onUpdateFavTags(tag, $event)"
      ></fa-icon>
    </button>
    {{ tag }}
  </article>
</section>
