@import 'src/styles/variables';
@import 'src/styles/mixins';

:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-1);
    padding: var(--spacing-2);
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $breakpoint) {
        flex-direction: column-reverse;
    }
}

.filter-sorting {
    margin-left: auto;
    padding: var(--spacing-1)
}

.filter-tags {
    flex-basis: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--spacing-1);
}

.filter-tags-item {
    background-color: var(--gray-2);
    padding: var(--spacing-1) var(--spacing-3) var(--spacing-1) 0;
    border-radius: var(--spacing-3);
    cursor: pointer;
    transition: all 0.3s ease;
    line-height: 1.2rem;

    &--active {
        background-color: var(--primary);
        color: white;
    }

    &:hover, &:focus {
        background-color: var(--highlight);
        color: white;
    }
}

.filter-tags-item-fav {
    opacity: 0;
    padding:  0 var(--spacing-1);
    left: 0;
    top: 0;

    &--active {
        opacity: 0.4;
        color: white;
    }
    &:hover, &:focus, &:active {
        opacity: 1;
        color: white;
    }
}

.filter-tags-showAll {
    @extend .filter-tags-item;
    padding: var(--spacing-1) var(--spacing-3);
}

.filter-tags-showAll-icon {
    display: block;
    flex: 1;
}