<button
  class="pagination-backBtn"
  (click)="first()"
  [disabled]="previousDisabled"
  title="Ctrl + Arrow Left"
>
  <fa-icon [icon]="firstIcon"></fa-icon>
</button>

<button
  class="pagination-backBtn"
  (click)="previous()"
  [disabled]="previousDisabled"
  title="Alt + Arrow Left"
>
  <fa-icon [icon]="prevIcon"></fa-icon>
</button>

<p class="pagination-currentLabel">
  Seite {{ currentPage + 1 }} von {{ lastPage + 1 }}
</p>

<p class="pagination-currentLabel--mobile">
  {{ currentPage + 1 }} / {{ lastPage + 1 }}
</p>

<button
  class="pagination-nextBtn"
  (click)="next()"
  [disabled]="nextDisabled"
  title="Alt + Arrow Right"
>
  <fa-icon [icon]="nextIcon"></fa-icon>
</button>

<button
  class="pagination-nextBtn"
  (click)="last()"
  [disabled]="nextDisabled"
  title="Ctrl + Arrow Right"
>
  <fa-icon [icon]="lastIcon"></fa-icon>
</button>

<p class="pagination-count">{{ itemCount }} Wallpaper</p>
