:host {
    position: relative;
    border-radius: var(--spacing-2);
    overflow: hidden;
}

.preview-img {
    width: 100%;
    display: block;
}

.preview-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: var(--spacing-2);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}