:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-2);
    grid-auto-rows: max-content;
}

.uploadForm-preview,
.uploadForm-titleInput,
.uploadForm-tagInput,
.uploadForm-metaInfo {
    grid-column: 1 / 3;
}

.uploadForm-preview {
    width: 100%;
}