<app-error-wrapper
  [showError]="!(data$ | async)"
  [showLoading]="isLoading$ | async"
  message="Person nicht gefunden"
>
  <section class="figure-meta" *ngIf="data$ | async as data">
    <img
      class="figure-meta-cover"
      [src]="imageCover$ | async"
      [alt]="data.title"
    />
    <p class="figure-meta-description" [innerHTML]="data.description"></p>
    <button
      class="figure-meta-edit"
      (click)="onOpenDialog(data)"
      *ngIf="isAuthenticated"
    >
      <fa-icon [icon]="editIcon"></fa-icon>
    </button>
  </section>
</app-error-wrapper>
