<app-error-wrapper
  [showError]="!(data$ | async)"
  [showLoading]="isLoading$ | async"
  message="Charakter nicht gefunden"
>
  <section class="figure" *ngIf="data$ | async as data">
    <app-figure-cover class="figure-cover" [data]="data"></app-figure-cover>

    <section class="figure-info">
      <app-link-bar
        class="figure-links"
        [data]="links$ | async"
        [disabled]="!isAuthenticated"
        [loading]="isLinksLoading$ | async"
        (update)="onUpdateLink($event)"
      ></app-link-bar>

      <ul class="figure-meta">
        <li>
          <label>Franchise:</label>
          {{ data.franchise.title }}
        </li>
        <li>
          <label>Erster Auftritt:</label>
          {{ data.firstSeen }}
        </li>
        <li>
          <label>Premiere:</label>
          {{ data.firstSeenYear }}
        </li>
        <li>
          <label>Typ:</label>
          {{ data.type }}
        </li>
        <li>
          <label>Geschlecht:</label>
          <app-gender [gender]="data.gender"></app-gender>
        </li>
      </ul>

      <section class="figure-personRoll">
        <app-wiki-preview
          class="figure-personRoll-person"
          *ngFor="let person of data.persons"
          [data]="person"
        >
          <button
            *ngIf="isAuthenticated"
            class="figure-personRoll-person-edit"
            (click)="onEditPerson($event, data.id, person)"
            title="Verknüpfung editieren"
          >
            <fa-icon [icon]="editIcon"></fa-icon>
          </button>
          <button
            *ngIf="isAuthenticated"
            class="figure-personRoll-person-delete"
            (click)="onDeletePerson($event, person, data.id)"
            title="Verknüpfung löschen"
          >
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </button>
        </app-wiki-preview>
        <button
          *ngIf="isAuthenticated"
          class="figure-personRoll-add"
          (click)="onEditPerson($event, data.id)"
          title="Verknüpfung hinzufügen"
        >
          <fa-icon [icon]="addIcon"></fa-icon>
        </button>
      </section>
    </section>

    <p class="figure-description" [innerHTML]="data.description"></p>
    <button
      *ngIf="isAuthenticated"
      class="figure-edit"
      (click)="onOpenDialog(data)"
    >
      <fa-icon [icon]="editIcon"></fa-icon>
    </button>
  </section>
</app-error-wrapper>
