<span class="metaInfo-hint" *ngIf="!image.positivePrompt; else content">
  Keine Metadaten gefunden
</span>

<ng-template #content>
  <!-- Resolution -->
  <span class="metaInfo-resolution">
    <fa-icon [icon]="resolutionIcon" class="metaInfo-resolution-icon"></fa-icon>
    {{ image.width }} x {{ image.height }}
  </span>

  <!-- Model -->
  <span class="metaInfo-model">
    <fa-icon [icon]="modelIcon" class="metaInfo-model-icon"></fa-icon>
    {{ image.model }}
  </span>

  <!-- CFG -->
  <span class="metaInfo-cfg">
    <fa-icon [icon]="cfgIcon" class="metaInfo-cfg-icon"></fa-icon>
    {{ image.cfg }}
  </span>

  <!-- Seed -->
  <span class="metaInfo-seed">
    <fa-icon [icon]="seedIcon" class="metaInfo-seed-icon"></fa-icon>
    {{ image.seed }}
  </span>

  <!-- Steps -->
  <span class="metaInfo-steps">
    <fa-icon [icon]="stepsIcon" class="metaInfo-steps-icon"></fa-icon>
    {{ image.steps }}
  </span>

  <!-- Sampler -->
  <span class="metaInfo-sampler">
    <fa-icon [icon]="samplerIcon" class="metaInfo-sampler-icon"></fa-icon>
    {{ image.sampler }}
  </span>

  <section class="metaInfo-prompts">
    <!-- Prompt -->
    <span
      class="metaInfo-prompts-prompt"
      [attr.title]="image.positivePrompt"
      (dblclick)="onCopy(image.positivePrompt)"
    >
      <fa-icon
        [icon]="promptIcon"
        class="metaInfo-prompts-model-icon"
      ></fa-icon>
      {{ image.positivePrompt }}
    </span>

    <!-- Negative Prompt -->
    <span
      class="metaInfo-prompts-negativePrompt"
      [attr.title]="image.negativePrompt"
      (dblclick)="onCopy(image.negativePrompt)"
    >
      <fa-icon
        [icon]="negativePromptIcon"
        class="metaInfo-prompts-negativePrompt-icon"
      ></fa-icon>
      {{ image.negativePrompt }}
    </span>
  </section>
</ng-template>
