@import "src/styles/mixins";

:host {
    padding: var(--spacing-2);
}

.person-meta {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-2);
    align-items: center;
    @media only screen and (max-width: 1000px) {
        flex-direction: column;
    }
}

.person-meta-cover {
    flex: 1;
    max-width: 20rem;
}

.person-meta-edit {
    @include clear-btn-style();
}