<app-error-wrapper
  [showError]="!(data$ | async)"
  [showLoading]="isLoading$ | async"
  message="Person nicht gefunden"
>
  <section class="person" *ngIf="data$ | async as data">
    <app-person-cover class="person-cover" [data]="data"></app-person-cover>

    <ul class="person-meta">
      <li>
        <label>Augenfarbe:</label>
        {{ data.eye }}
      </li>
      <li>
        <label>Haarfarbe:</label>
        {{ data.hair }}
      </li>
      <li>
        <label>Größe:</label>
        {{ data.height | height }}
      </li>
      <li>
        <label>Nationalität:</label>
        {{ data.nationality.name }}
      </li>
      <li>
        <label>Geschlecht:</label>
        <app-gender [gender]="data.gender"></app-gender>
      </li>
      <li>
        <label>Geburtsdatum:</label>
        <fa-icon class="person-meta-icon" [icon]="birthIcon"></fa-icon>
        {{ data.birthday | age }}
      </li>
      <li>
        <label>Geburtsort:</label>
        <fa-icon class="person-meta-icon" [icon]="locationIcon"></fa-icon>
        {{ data.birthplace }}
      </li>
      <li *ngIf="data.death">
        <label>Todesdatum:</label>
        <fa-icon class="person-meta-icon" [icon]="deathIcon"></fa-icon>
        {{ data.death | date : "longDate" }}
      </li>
    </ul>

    <p class="person-description" [innerHTML]="data.description"></p>
    <button class="person-edit" (click)="onOpenDialog(data)">
      <fa-icon [icon]="editIcon"></fa-icon>
    </button>
  </section>
</app-error-wrapper>
