@import 'src/styles/variables';

:host {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    overflow: hidden;
    height: 100%
}

.imageRoll-filter {
    padding: var(--spacing-2);
}

.imageRoll-roll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-2);
    padding: var(--spacing-2);
    overflow: auto;
    flex: 1;

    @media only screen and (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: $breakpoint) {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2)
    }
}

.imageRoll-img {
    height: 40rem;
    break-inside: avoid;

    @media only screen and (max-width: $breakpoint) {
        height: auto;
        width: 100%;
    }
}