@import 'src/styles/variables';

:host {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    overflow: hidden;
    height: 100%
}

.imageRoll-roll {
    overflow: auto;
    flex: 1;
}

.imageRoll-img {
    height: 40rem;
    break-inside: avoid;

    @media only screen and (max-width: $breakpoint) {
        height: auto;
        width: 100%;
    }
}

.imageRoll-pagination {

}