:host {
    justify-self: center;
    align-self: center;
    max-width: 1400px;
    background-color: white;
    border-left: 1px dashed var(--primary);
    border-right: 1px dashed var(--primary);
}

.header-img {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-1);
    padding: var(--spacing-2);
}

.footer-text {
    flex-basis: 100%;
    text-align: center;
    margin: 0;
}

.footer-about,
.footer-upload {
    font-weight: bold;
    padding: 0 var(--spacing-2);
}