:host {
  display: flex;
  align-items: center;
  user-select: none;
}

.pagination-select {
  margin: 0 var(--spacing-2) 0 var(--spacing-2);
  width: auto;

  @media (max-width: 800px) {
    margin-right: auto;
  }
}

.pagination-count {
  margin: 0 auto 0 var(--spacing-2);

  @media (max-width: 800px) {
    display: none;
  }
}

.pagination-backBtn,
.pagination-nextBtn {
  padding: var(--spacing-2) var(--spacing-2);
  cursor: pointer;
  color: var(--primary);

  &:hover,
  &:focus,
  &:active {
    color: var(--highlight);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.pagination-currentLabel {
  margin: 0 var(--spacing-2);

  display: block;
  @media (max-width: 800px) {
    display: none;
  }

  &--mobile {
    display: none;
    @media (max-width: 800px) {
      display: block;
    }
  }
}
