:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

.fileInput-preview {
    width: 500px;
}

.fileInput-input {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
}