<h3 class="editDialog-heading">Datensatz bearbeiten</h3>

<form
  [formGroup]="requestForm"
  class="editDialog-form"
  [class.editDialog-form--grid]="isGridView"
>
  <div
    class="editDialog-wrapper"
    [class.editDialog-wrapper--full]="config.type === EditDialogType.TextArea"
    *ngFor="let config of dialogData.config"
    [ngSwitch]="config.type"
  >
    <label class="editDialog-label" [htmlFor]="config.key">
      {{ config.label }}
    </label>

    <textarea
      *ngSwitchCase="EditDialogType.TextArea"
      [attr.id]="config.key"
      class="editDialog-textArea"
      [formControlName]="config.key"
    ></textarea>

    <input
      *ngSwitchCase="EditDialogType.Date"
      type="date"
      [attr.id]="config.key"
      class="editDialog-date"
      [formControlName]="config.key"
    />

    <input
      *ngSwitchCase="EditDialogType.Number"
      type="number"
      [attr.id]="config.key"
      class="editDialog-number"
      [formControlName]="config.key"
    />

    <select
      *ngSwitchCase="EditDialogType.Select"
      [attr.id]="config.key"
      class="editDialog-date"
      [formControlName]="config.key"
    >
      <option *ngFor="let option of config.options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>

    <input
      type="text"
      [attr.id]="config.key"
      class="editDialog-input"
      (keyup.enter)="onClose(true)"
      [formControlName]="config.key"
      *ngSwitchDefault
    />
  </div>
</form>

<section class="editDialog-actionBar">
  <button class="editDialog-actionBar-cancel" (click)="onClose(false)">
    Abbrechen
  </button>
  <button class="editDialog-actionBar-submit" (click)="onClose(true)">
    Speichern
  </button>
</section>
