@import "src/styles/mixins";
@import 'src/styles/variables';

:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-2);
    padding: var(--spacing-2);
    height: 100%;
}

.upload-metaData,
.upload-form {
    flex: 1;
}

.upload-submitBtn,
.upload-input {
    flex-basis: 100%;
}

.upload-submitBtn {
    @include button();
}